* {
    box-sizing: border-box;
    margin: 0
}
body {
    background-color: #232323;  
    font-family: "Montserrat", "Avenir";
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    background-color: #4682B4;
    color: white;
    font-weight: normal;
    height: 180px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 180px
}
h1 span {
    font-size: 2em
}
.set_bar {
    background-color: white;
    height: 30px;
    text-align: center;
    margin-bottom: 20px
}
button {
    height: 100%;
    background-color: transparent;
    color: #4682B4;
    border: none;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase
}
#message {
    display: inline-block;
    width: 20%;
    font-size: 1.2em;
    color: #4682B4
}

.selected {
    background-color: #4682B4;
    color: white
}
#reset:hover, #reset:active{
    background-color: #4682B4;
    color: white;
    transition : all 0.3s
}
.square {
    background-color: purple;
    width: 30%;
    padding-bottom: 30%; /* padding as a percentage relative to the width of the containing element*/
    float: left;
    margin: calc(10% / 6);  
    border-radius: 15%;
    transition: background-color 0.3s
}


/*****************/
/*Media*/
/*****************/

@media only screen and (max-width: 510px) {
    body {
        font-size: 12px
    }
    h1 {
        font-size: 1.5em
    }
    .set_bar, #message {
        font-size: 1em
    }
}




